* {
    box-sizing: content-box;
    font-family: monospace;
}

body {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

main {
    min-height: 80vh;
}

footer {
    text-align: center;
}

.title {
    text-align: center;
}

#new-game {
    display: block;
    margin: auto;
    font-size: 2rem;
    cursor: pointer;
    padding: 5px 30px;
}

.score-container h3 {
    margin: 10px auto;
}

.score-board {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
}

.score-board > div {
    padding: 0 50px;
}

.player-score, .computer-score {
    font-size: 8rem;
}

.rps-selection {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    gap: 50px;
}

.rps-selection button {
    cursor: pointer;
    width: 200px;
    height: 200px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 1px;
    z-index: 1;
}

.rps-selection img {
    width: 100%;
    z-index: -1;
}

#rock {
    background-image: url('../img/rock.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.rps-selection button:hover {
    transform: translate(-5px, -5px);
}

.rps-selection button:disabled {
    opacity: .5;
    transform: none;
}

.result-container h2 {
    text-align: center;
}

.round-results li {
    font-size: 1.3rem;
}