* {
    box-sizing: content-box;
    font-family: monospace;
}

body {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

main {
    min-height: 80vh;
}

footer {
    text-align: center;
    font-size: 1.3rem;
}

.title {
    text-align: center;
}

#new-game {
    display: block;
    margin: auto;
    font-size: 2rem;
    cursor: pointer;
    padding: 5px 30px;
}

.score-container h2 {
    margin-bottom: 10px;
}

.score-container h3 {
    margin: 10px auto;
}

.score-board {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
}

.score-board > div {
    padding: 0 50px;
}

.player-score, .computer-score {
    font-size: 8rem;
}

.red {
    color: red;
}

.green {
    color: green;
}

/* RPS SELECTION START */

.rps-selection {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    gap: 100px;
}

.rps-selection button {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
}

#rock {
    background-image: url('../img/rock.png');
}

#paper {
    background-image: url('../img/paper.png');
}

#scissors {
    background-image: url('../img/scissors.png');
}

.rps-selection button:hover {
    transform: translate(-5px, -5px);
}
.rps-selection button:active {
    transform: translate(-8px, -8px);
}

.rps-selection button:disabled {
    opacity: .3;
    transform: none;
}

/* RPS SELECTION END */

/* RESULT CONTAINER START */

.result-container {
    width: 60vw;
    margin: auto;
}

.result-container h2 {
    text-align: center;
}

.round-results li {
    font-size: 1.3rem;
    padding: 3px 1px;
}

.round-results li:hover {
    background-color: rgb(239, 239, 239);
    color: black;
}

/* RESULT CONTAINER END */